/* 
primary: #85cad4
semi-dark: '#80BDC6'
dark: '#0A95A8'
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.new-location-name-input::placeholder {
  color: #fff;
};

button {
  border: none;
}

.btn-add {
  font-weight: bold;
  width: 200px;
  padding: 1rem;
  border: none;
  border-radius: 15px;
  color: #0A95A8;
  background-color: #fff;
  box-shadow: 0 4px 4px #00000040;
}

.poop-icon {
  stroke: 'white'
}